<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>192813071921-5etpda5k89ak6llukpt6d3eaik5jcvce.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.192813071921-5etpda5k89ak6llukpt6d3eaik5jcvce</string>
	<key>API_KEY</key>
	<string>AIzaSyBn-jmnc32xEhQNmLHni-08Kpjp5O8iC2A</string>
	<key>GCM_SENDER_ID</key>
	<string>192813071921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notifs</string>
	<key>PROJECT_ID</key>
	<string>notifs-257e4</string>
	<key>STORAGE_BUCKET</key>
	<string>notifs-257e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:192813071921:ios:abf828ad5b9466e08b1f10</string>
	<key>DATABASE_URL</key>
	<string>https://notifs-257e4.firebaseio.com</string>
</dict>
</plist>